@media only screen and (min-width:768px){
    
    .image{
        display: inline-block;
        margin: auto;
        background: #FFFFFF;
        box-shadow: 0px 4px 16px 1px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
        padding: 25px;
        top: auto;
    }
    .image img{
        width: 400px;
        border-radius: 10px;
        filter: drop-shadow(0px 0px 8px black);
        
    }
    
    .image h2 {
        margin-top: 10px;
    }
    .image p {
        width: 380px;
        height: auto;
        margin-top: 10px;
    }

    .div-form{
        position: relative;
        top: auto;
        box-sizing: content-box;
        width: 300px;
        height: auto;
        background-color: #fff;
        padding: 15px 200px 50px 2%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: auto;
    }

    .container {
        display: flex;
        font-family: 'popinsregular';
        position: relative;
        height: 126px;
        left: 0px;
        top: 50px;
        

        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        }
    }
.input {
    width: 100%;
    border-radius: 15px;
    padding: 4px;
    border-width: 1px;
    box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.15);
    border-color: rgba(0, 0, 0, 0.25);


}
.form-label {
    text-align: center;
    font-family: 'Poppins';

}