*{
    margin: 0;
}
nav {
    background-color: #FF3838;
    padding-bottom: 25px;
    text-align: center;
    width: 100%;

}
.navigator h1{
    color: #FFFFFF;
    
}

.container{
    width: auto;
    align-content: center;
    filter: drop-shadow(8px 4px 4px rgba (0, 0, 0, 0.25));
    
}

.div-form{
    position: relative;
    width: max-content;
    margin: 0 auto;
    z-index: 10;
    top: -15px;
    padding: 0.5px 20px 50px 30px;
    
}

form{
     /*
    position: relative; 
    z-index: 10;
    top: -35px;    
     */
    
    border-radius: 10px;
    padding: 20px;
    margin: 5px;
    background-color: #ffffff;
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.25));
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
    -moz-appearance: textfield;
}

.mood-row{
    box-sizing: border-box;
    text-align: left;
}


input[type=checkbox]{
    display: none;
}

.text-form{
    border-radius: 6px;
    padding: 5px 2px 5px 5px;
    border-width: 1px;
    box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.15);
    border-color: rgba(0, 0, 0, 0.25);
}

.text-form, .form-label, .mood-generator{
    margin: 5px 5px;
}

.btn{
    padding: 5px;
    border-radius: 6px;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.25);
    margin: 10px 35%;
}

.image{
    display: none;
}